h1 {
	text-align: center;
    font-size: 40px;
	color:white;
}
body{
	background-color: black;
}
#userphone, #useremail, #userbirth {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
	color:white;
	padding: 10px;
}
form {
	border-style: outset;
	border-width: 10px;
	border-color: gold;
	margin: 5%;
}

input#submit,#reset {
	border-radius: 10px;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: left;
}
@media only screen and (min-width: 800px){
  #wrap{
    width: 60%;
    flex-wrap: nowrap;
  }
}